# Should be the same value set in the backend.
JACK_MANAGEMENT_KEY=
# URL for the management API. By default it's port 5226 on your jack instance.
JACK_MANAGEMENT_API_URL=
# Secret for the session cookie. Should be >= 32 chars in prod.
JACK_SESSION_KEY=