node_modules
**/node_modules
.git
.gitignore
dist
out
**/dist
**/out
coverage
*.log
logs
.DS_Store
.idea
.vscode
.cursor
config.jsonc
**/__tests__
*.test.ts
Dockerfile
.dockerignore
docker-compose.yml
README.md
