@import "tailwindcss";

@theme {
  --color-brand-50: #eef2ff;
  --color-brand-400: #818cf8;
  --color-brand-500: #6366f1;
  --color-brand-600: #4f46e5;
}

html,
body,
#__nuxt {
  height: 100%;
}

body {
  background-color: var(--color-slate-950);
  color: var(--color-slate-100);
  -webkit-font-smoothing: antialiased;
}
